*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --light-gray: #f5f6f7;
  --purple: #7f21ab;
}

html,
body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: #1b1b32;
  font-size: 16px;
  font-family: Verdana, sans-serif;
}

main {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#fcc-logo {
  height: 30px;
}

h1 {
  color: var(--light-gray);
}

#app {
  width: 450px;
  padding: 25px 15px;
  color: #0a0a23;
  background-color: var(--light-gray);
  border-radius: 15px;
  box-shadow: 10px 10px 0px 0px rgba(223, 220, 220, 0.75);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

#search-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
}

label {
  font-size: 1.2rem;
}

input {
  width: 200px;
  height: 40px;
  padding: 10px;
  font: inherit;
}

#search-button {
  padding: 15px 20px;
  border: none;
  border-radius: 20px;
  color: white;
  background-color: var(--purple);
}

#pokemon-info {
  width: 100%;
  height: 325px;
  background-color: #f0f1f7;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#name-id {
  font-size: 1.1rem;
}

#weight-height {
  font-size: 0.85rem;
  margin-top: 0.5rem;
}

#img {
  align-self: center;
}

#sprite {
  width: 180px;
}

.type {
  font-size: 0.7rem;
  padding: 10px 15px;
  border-radius: 10px;
}

table {
  width: 100%;
  color: var(--light-gray);
  background-color: var(--purple);
  border-collapse: collapse;
  font-size: 1.1rem;
  text-align: center;
}

th,
td {
  border: 5px solid var(--light-gray);
  padding: 8px;
}

.normal {
  background-color: #b7b7aa;
}

.fire {
  background-color: #ff6f52;
}

.water {
  background-color: #42a1ff;
}

.electric {
  background-color: #fecc33;
}

.grass {
  background-color: #78cc55;
}

.ice {
  background-color: #66ccfe;
}

.fighting {
  background-color: #d3887e;
}

.poison {
  background-color: #c68bb7;
}

.ground {
  background-color: #dfba52;
}

.flying {
  background-color: #8899ff;
}

.psychic {
  background-color: #ff66a3;
}

.bug {
  background-color: #aabb23;
}

.rock {
  background-color: #baaa66;
}

.ghost {
  background-color: #9995d0;
}

.dragon {
  background-color: #9e93f1;
}

.dark {
  background-color: #b59682;
}

.steel {
  background-color: #abaabb;
}

.fairy {
  background-color: #ed99ed;
}
